<h3>
  Questionnaire Form
  </h3>
  <div class="fluid-container">
    <div class="">
      
    </div>
    <div id='surveyElement'></div>
    <div class="nav-wrapper">
      <button class="btn btn-primary" (click)="cancelSurvey()">Cancel</button>
      <button *ngIf="!survey.isFirstPage" class="btn btn-primary" (click)="previousQuestion()">Previous</button>
      <button *ngIf="!survey.isLastPage" class="btn btn-primary" (click)="nextQuestion()">Next</button>
      <button *ngIf="survey.isLastPage" class="btn btn-primary" (click)="completeSurvey()">Complete</button>
    </div>
  </div>
  